[Unit]
Description=Persistent /var
Before=sysroot-etc-overlay.service initrd-switch-root.target
DefaultDependencies=no
Conflicts=umount.target
After=systemd-repart.service
Requires=systemd-repart.service

[Mount]
What=/dev/disk/by-partlabel/var
Where=/sysroot/var
Type=xfs
Options=defaults