[Unit]
Description=Persistent /var
Before=sysroot-etc-overlay.service
ConditionPathExists=/dev/disk/by-partlabel/var

[Mount]
What=/dev/disk/by-partlabel/var
Where=/sysroot/var
Type=xfs
Options=defaults