[Unit]
Description=Persistent Variable Storage Partition
Before=local-fs.target
DefaultDependencies=no

[Mount]
What=/dev/disk/by-label/var
Where=/var
Type=ext4
Options=defaults,nofail,x-systemd.device-timeout=0

[Install]
WantedBy=local-fs.target