[Unit]
Description=Volatile /etc overlay (persistent /var unavailable)
DefaultDependencies=no
Before=initrd-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/mkdir -p /run/etc-upper /run/etc-work
ExecStart=/usr/bin/mount -t overlay overlay -o lowerdir=/sysroot/etc,upperdir=/run/etc-upper,workdir=/run/etc-work /sysroot/etc