[Unit]
Description=Persistent /var
Before=prepare-etc-overlay.service
JobRunningTimeoutSec=10s

[Mount]
What=PARTLABEL=var
Where=/sysroot/var
Type=xfs
Options=defaults,nofail
